*{
    margin: 0px;
    padding: 0px;
}
#wrap{
    background-color: #191414;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#drawing{
    width: 100%;
    height: 95%;
}
#drawCanvas{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid white;
}